<span class="h4 import-link">
    <a onclick="importLtiContexts()" data-toggle="" class="pointer">
        <span class="fa fa-files-o import-icon " aria-hidden="true"></span>
        <span>{%trans%}import-exercise.importexercises{%endtrans%}</span>
    </a>
</span>
