<div class="w-full mt-4">
    {% embed "components/ct-textarea.php.twig"
        with { 
            label: "new-exercise-form.labels.tests"|trans,
            name: '',
            exercise: exercise,
            inputValue: inputValue,
            outputValue: outputValue
        } only
        %}
        {% block input %}
            <div class="p-0 flex gap-3 items-stretch justify-between">
                <div class="w-[48%]" style="flex-basis:48%">
                    <div class="text-center">
                        With this inputs
                    </div>
                    <pre class="min-h-[150px]">{{ inputValue }}</pre>
                </div>
                <div class="flex items-center pt-6">
                    <span>
                        →
                    </span>
                </div>
                <div class="w-[48%] flex flex-col" style="flex-basis:48%">
                    <div class="text-center">
                        This are the exptected outputs
                    </div>
                    <pre class="h-full min-h-[150px] border">{{ outputValue }}</pre>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
</div>