.idea/
vendor/
tmp/
composer.lock
config.php

.idea/
vendor/
tmp/
composer.lock
config.php

node_modules/

.env

public/

rest-data.json

test/storageState.json

test/test-results/

test/playwright-report/
