<div class="h4 inline flx-cntnr flx-row flx-nowrap flx-start">
    <div class="flx-grow-all">
        <strong>{%trans%}student-sql-question.database{%endtrans%}: </strong>
        <span>{{ question.getQuestionDatabase() }}</span>
    </div>
    <div class="flx-grow-all">
        <strong>{%trans%}student-sql-question.type{%endtrans%}: </strong>
        <span>{{ question.getQuestionSQLType() }}</span>
    </div>
</div>
{% set queryTable = question.getQueryTable() %}
{% if queryTable %}
    <div class="flx-grow-all">
        <strong>{%trans%}student-sql-question.output{%endtrans%}: </strong>
        {% autoescape false %}
        <p>{{ queryTable }}</p>
        {% endautoescape %}
    </div>
{% endif %}
