<div id="confirm{{exercise.getExerciseId()}}" class="modal fade modalDelete" role="dialog">
    <div class="modal-dialog modal-lg " style="width: 97%; ">
        <div class="modal-content ">
            <div class="container modalContainer">
                {%trans%}delete-exercise-modal.confirmation{%endtrans%}
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">{%trans%}delete-exercise-modal.delete{%endtrans%}</button>
                <button type="button" data-dismiss="modal" class="btn">{%trans%}delete-exercise-modal.cancel{%endtrans%}</button>
            </div>
        </div>
    </div>
</div>

