<p class="lead">Add questions from a previously created Code Test.</p>
{% if not questionsForImport %}
<p><em>No questions available from previous Code Test instances.</em></p>
{% else %}
<form id="importForm" class="form" action="actions/ImportQuestions.php" method="post">
    <div class="list-group">
        <!-- Question Map -->
        {% set siteCount = 1 %}
        {% for sitetitle, questions_in_site in questionMap %}
        <div class="list-group-item response-list-group-item">
            <div class="row">
                <div class="col-sm-12 header-col">
                    <a data-toggle="collapse" class="h4 response-collapse-link" href="#site{{siteCount}}">
                        {{ sitetitle }}
                        <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                    </a>
                </div>
                <div id="site{{siteCount}}" class="col-xs-12 results-collapse collapse">
                    {% for tooltitle, questions_in_tool in questions_in_site %}
                    <div class="row response-row">
                        <div class="col-sm-3">
                            <h5>{{ tooltitle }}</h5>
                        </div>
                        <div class="col-sm-offset-1 col-sm-8">
                            {% for question in questions_in_tool %}
                            <div class="checkbox">
                                <input type="checkbox" id="question{{question.question_id}}" name="question[]" value="{{question.question_id}}">
                                <label for="question{{question.question_id}}">{{question.question_txt}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set siteCount = siteCount + 1 %}
        {%endfor %}
    </div>
</form>
{% endif %}