<p class="lead" xmlns="http://www.w3.org/1999/html">Add questions from a previously created Code Test.</p>
{% if not coursesForImport %}
<p><em>No questions available from previous Code Test instances.</em></p>
{% else %}
<form id="importForm" class="form" action="actions/ImportQuestions.php" method="post">
    <div class="list-group">
        <!-- Question Map -->
        {% for course in coursesForImport %}
        <div class="list-group-item response-list-group-item">
            <div class="row">
                <div class="col-sm-12 header-col">
                    <a data-toggle="collapse" class="h4 response-collapse-link" onclick="importMains({{ course.ctxId }})">
                        {{ course.courseName }}
                        <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                    </a>
                </div>
                <div id="site{{ course.ctxId }}" class="col-xs-12 results-collapse collapse">
                </div>
            </div>
        </div>
        {% set siteCount = siteCount + 1 %}
        {%endfor %}
    </div>
</form>
{% endif %}