                        {% if questions %}
                            {% for question in questions %}
                            <div class="checkbox">
                                <input type="checkbox" id="question{{question.getQuestionId()}}" name="question[]" value="{{question.getQuestionId()}}">
                                <label for="question{{question.getQuestionId()}}">{{question.getQuestionTxt()}}</label>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="checkbox">
                            No questions in course.
                        </div>
                        {% endif %}