                    {% for main in mains %}
                    <div class="row response-row">
                        <div class="col-sm-3" onclick="importQuestions({{ main.getCtId() }})">
                            <a class="h5 response-collapse-link" data-toggle="collapse" data-target="#main{{ main.getCtId() }}" onclick="importQuestions({{ main.getCtId() }})">
                                {{ main.getTitle() }}
                                <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div id="main{{ main.getCtId() }}" class="col-sm-offset-1 col-sm-8">
                        </div>
                    </div>
                    {% endfor %}
