<h4>{%trans%}instructor-home.general-help{%endtrans%}</H4>
<p>{%trans%}instructor-home.use.this.page.add{%endtrans%}</p>
<h5>{%trans%}instructor-home.import-questions{%endtrans%}</h5>
<ol>
    <li>{%trans%}instructor-home.click.import-questions{%endtrans%}</li>
    <li>{%trans%}instructor-home.select.to.add{%endtrans%}</li>
    <li>{%trans%}instructor-home.click.import.or.enter{%endtrans%}</li>
</ol>
<h5>{%trans%}instructor-home.editing.file{%endtrans%}</h5>
<p>{%trans%}instructor-home.edit.title.clicking{%endtrans%}</p>
<p>{%trans%}instructor-home.if.no.question.edit{%endtrans%}</p>
