<h4>{%trans%}results.exercise.view.results{%endtrans%}</H4>
<p>{%trans%}results.exercise.you.are.viewing.exercise.results{%endtrans%}</p>
<p>{%trans%}results.exercise.for.each.sorted.recent{%endtrans%}</p>
