<h4>{%trans%}results.question.view.results{%endtrans%}</H4>
<p>{%trans%}results.question.you.are.viewing.question.results{%endtrans%}</p>
<p>{%trans%}results.question.for.each.sorted.recent{%endtrans%}</p>
