<h4>{%trans%}results.student.view.results{%endtrans%}</H4>
<p>{%trans%}results.student.you.are.viewing.question.results{%endtrans%}</p>
<p>{%trans%}results.student.for.each.sorted.recent{%endtrans%}</p>