@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ct-input{
    @at-root {
        label#{&} {
            font-weight: unset;
            display: block;
            margin: 0;
        }
    }
    input.requiredField{
        background-color: red!important;
    }

    &.inline{
        @apply flex items-center;
        > span {
            @apply mr-2;
        }
    }
    &:focus-within{
        span{
            @apply text-sky-700;
        }
    }

    > span{
        @apply text-greyish;
        @apply ml-1;
        @apply font-medium;
        letter-spacing: 1px;
       
        span.requiredElement{
            color: red;
            font-size: 15px;
            font-weight: bolder;
        }
    }
    > input, > select {
        @apply w-full h-10;
        @apply px-2;
        @apply rounded;
        @apply outline-none;
        @apply bg-blueGray-50 bg-opacity-30;
        @apply backdrop-filter backdrop-blur-lg;
        @apply border border-primary;
        @apply border-gray-400;
        @apply caret-primary;
        

        @apply focus:backdrop-blur-xl focus:bg-opacity-80;

        @apply placeholder-opacity-20 placeholder-gray-600;
        @apply focus:placeholder-opacity-0;
        @apply focus:bg-white;
    
        @apply transition-all;
        @apply placeholder-shown:select-none;

        @apply focus:ring-2 ring-secondary ring-opacity-50 ring-offset-1;
        //@apply focus:border-secondary;

        input.requiredField{
            background-color: red!important;
        }

        &::placeholder{
            font-weight: normal;
        }
    }
}

.ct-textarea{
    @apply w-full;
    @apply px-2;
    @apply rounded;
    @apply outline-none;
    @apply bg-blueGray-50 bg-opacity-30;
    @apply backdrop-filter backdrop-blur-lg;
    @apply border border-primary;
    @apply border-gray-400;
    @apply caret-primary;

    @apply focus:backdrop-blur-xl focus:bg-opacity-80;

    @apply placeholder-opacity-20 placeholder-gray-600;
    @apply focus:placeholder-opacity-0;
    @apply focus:bg-white;

    @apply transition-all;
    @apply placeholder-shown:select-none;

    @apply focus:ring-2 ring-secondary ring-opacity-50 ring-offset-1;
    //@apply focus:border-secondary;
    
    span.requiredElement{
        color: red;
        font-size: 15px;
        font-weight: bolder;
    } 

    .requiredField{
        background-color: red!important;
    }

    &::placeholder{
        font-weight: normal;
    }
}


.ct-input-code{
    @at-root {
        label#{&} {
            font-weight: unset;
            @apply border;
            @apply rounded;
            @apply block;
            @apply bg-white bg-opacity-30;

            @apply backdrop-filter backdrop-blur-lg;
            @apply focus-within:backdrop-blur-xl focus-within:bg-opacity-80;

            @apply border-primary;
            @apply border-gray-400;
            @apply ring-secondary ring-offset-1 ring-opacity-60;
            @apply focus-within:ring-2;

            @apply transition-all;
            @apply overflow-hidden m-0;
        }
    }

 
    .cke{
        padding: 1px;
        border: 0;
    }
    &.ct-focused{
        @apply backdrop-blur-xl bg-opacity-80;
        @apply ring-2;
    }

    span.requiredElement{
        color: red;
        font-weight: bolder;
        font-size: 15px;
        
    }

    .requiredField{
        background-color: red!important;
    }

    .CodeMirror.cm-s-default{
        padding: 0;
        background-color: white;
    }
    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like{
        padding-left: 10px;
    }
    &:focus-within, &.ct-focused{
        > div{
            @apply text-sky-700;
            @apply bg-opacity-100;
        }
    }
    > div{
        &:first-of-type{
            @apply border-b;
        }
        @apply bg-[#f1f5f8] bg-opacity-30;
        @apply px-3 py-2;
        @apply text-greyish;
        @apply font-medium;
        @apply text-left;
    }
    > textarea{
        width: 100%;
        @apply caret-primary;

        @apply rounded-sm;
        @apply rounded-t-none;

        @apply flex-1;
        @apply px-2 pt-1 pb-4 mt-1 -mb-1;

        @apply bg-transparent;
        @apply outline-none;
        @apply overflow-auto;

        @apply placeholder-opacity-20 placeholder-gray-600;
        @apply focus:placeholder-opacity-0;

        @apply min-h-[50px];
        .requiredField{
            background-color: red!important;
        }
    }

}

.tests-textarea{
    @apply w-full;
    @apply px-3 py-2;
    @apply border border-blueGray-400 rounded-sm;
    @apply bg-transparent outline-none focus:bg-white;
    @apply text-blueGray-900 font-normal;
    @apply ring-0 ring-offset-1 focus:ring-1 ring-secondary;
    input.requiredField{
        background-color: red!important;
    }
}

.answer-info-box{
    @apply w-5;
    @apply h-5;
    @apply min-h-[20px];
    @apply min-w-[20px];
    @apply rounded;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply border border-white;
}
.student-footer{
    .answer-info-box{
        > * {
            @apply mt-px;
        }
    }
}

#helpModal{
    h4 {
        @apply font-semibold mb-3 text-lg;
    }
    h5 {
        @apply font-semibold my-2;
    }
    h1, h2, h3, h4, h5{
        + p, + ol, + ul {
            @apply mb-2;
            letter-spacing: 0.5px;
        }
    }
}

.exercise-row{
    pre{
        white-space: normal;
        h1{
            @apply font-semibold mb-3 text-lg;
        }
        p{
            @apply mb-3;
            // margin-bottom: 8px !important;
        }
        code{
            @apply bg-secondary bg-opacity-10;
            @apply my-3;
        }
    }
}

.cke_source.cke_reset.cke_enable_context_menu.cke_editable_themed.cke_contents_ltr.cke_editable{
    @apply px-3 py-2;
}

.exerciseTitle{
    @apply text-lg font-normal;
    @apply mb-3 mt-2;
    @apply text-blueGray-800;
    @apply px-3 py-3 bg-white rounded border border-blueGray-400 border-opacity-70;
    @apply hover:border-secondary hover:border-opacity-70;
    @apply truncate;
}

.bg-cristal{
    @apply bg-[#ffffff8c] backdrop-filter backdrop-blur-lg hover:bg-white transition-colors;
}

.loading-overlay{
    @apply fixed w-screen h-screen;
    @apply top-0 left-0;
    @apply flex items-center justify-center;
    @apply z-[9999];
    
    @apply backdrop-filter backdrop-blur-lg bg-[#06a1e62b];
    > span{
        @apply text-5xl text-secondary font-bold tracking-widest underline select-none;
        text-decoration-color: indigo;
    }
    &.appearing{
        animation: appear 0.5s forwards;
    }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.invalid-field{
    @apply ring-2 ring-red-500 ring-opacity-50 ring-offset-1 #{!important};
}

.ex-statement{
    p{
        margin-bottom: 16px !important;
    }
    h1, h2, h3, h4 {
        @apply font-semibold mb-3 text-lg;
    }
    h5 {
        @apply font-semibold my-2;
    }
    h1, h2, h3, h4, h5{
        + p, + ol, + ul {
            @apply mb-2;
            letter-spacing: 0.5px;
        }
    }
    code{
        @apply bg-secondary bg-opacity-10;
        @apply my-3;
    }
}
.results-exercise-page, .usage-exercise-page,.usage-student-page{
    .panel{
        @apply bg-white bg-opacity-20 transition-all;
        @apply backdrop-filter backdrop-blur-sm;
        @apply hover:backdrop-blur-md hover:bg-opacity-30;
    }
    .list-group-item{
        background-color: unset ;
    }
    .list-group{
        margin-bottom:0px;
    }
}

div.section {
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 0.3;
    --tw-backdrop-blur: blur(16px);
    -webkit-backdrop-filter: var(--tw-backdrop-filter);
    backdrop-filter: var(--tw-backdrop-filter);
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    display: block;
    font-weight: unset;
}

input.ct-input-text {
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 0.3;
    --tw-backdrop-blur: blur(16px);
    --tw-border-opacity: 1;
    background-color: rgba(248,250,252,var(--tw-bg-opacity));
    border-color: rgba(156,163,175,var(--tw-border-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    caret-color: #05a1e6;
    height: 2.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}

.ct-input-text:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
}

.full-section-class{
    border: 1px solid #94a3b8;
    color: #696267;
    font-weight: 500;
    border-radius: 0.25rem;
    & div span{
        color: rgba(105,98,103,var(--tw-text-opacity));
        font-weight: 500;
    }

  .full-section-tittle{
      border-bottom: 1px solid #94a3b8;
      padding:.5rem .75rem;
  }
}
