@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ct-input{
    @at-root {
        label#{&} {
            font-weight: unset;
            display: block;
            margin: 0;
        }
    }
    &.inline{
        @apply flex items-center;
        > span {
            @apply mr-2;
        }
    }
    &:focus-within{
        span{
            @apply text-sky-700;
        }
    }
    > span{
        @apply text-greyish;
        @apply ml-1;
        @apply font-medium;
        letter-spacing: 1px;
    }
    > input, > select {
        @apply w-full h-10;
        @apply px-2;
        @apply rounded;
        @apply outline-none;
        @apply bg-blueGray-50 bg-opacity-30;
        @apply backdrop-filter backdrop-blur-lg;
        @apply border border-primary;
        @apply border-gray-400;
        @apply caret-primary;

        @apply focus:backdrop-blur-xl focus:bg-opacity-80;

        @apply placeholder-opacity-20 placeholder-gray-600;
        @apply focus:placeholder-opacity-0;
        @apply focus:bg-white;
    
        @apply transition-all;
        @apply placeholder-shown:select-none;

        @apply focus:ring-2 ring-secondary ring-opacity-50 ring-offset-1;
        //@apply focus:border-secondary;

        &::placeholder{
            font-weight: normal;
        }
    }
}

.ct-textarea{
    @apply w-full;
    @apply px-2;
    @apply rounded;
    @apply outline-none;
    @apply bg-blueGray-50 bg-opacity-30;
    @apply backdrop-filter backdrop-blur-lg;
    @apply border border-primary;
    @apply border-gray-400;
    @apply caret-primary;

    @apply focus:backdrop-blur-xl focus:bg-opacity-80;

    @apply placeholder-opacity-20 placeholder-gray-600;
    @apply focus:placeholder-opacity-0;
    @apply focus:bg-white;

    @apply transition-all;
    @apply placeholder-shown:select-none;

    @apply focus:ring-2 ring-secondary ring-opacity-50 ring-offset-1;
    //@apply focus:border-secondary;

    &::placeholder{
        font-weight: normal;
    }
}

.ct-input-code{
    @at-root {
        label#{&} {
            font-weight: unset;
            @apply border;
            @apply rounded;
            @apply block;
            @apply bg-white bg-opacity-30;

            @apply backdrop-filter backdrop-blur-lg;
            @apply focus-within:backdrop-blur-xl focus-within:bg-opacity-80;

            @apply border-primary;
            @apply border-gray-400;
            @apply ring-secondary ring-offset-1 ring-opacity-60;
            @apply focus-within:ring-2;

            @apply transition-all;
            @apply overflow-hidden m-0;
        }
    }
    .cke{
        padding: 0;
        border: 0;
    }
    &.ct-focused{
        @apply backdrop-blur-xl bg-opacity-80;
        @apply ring-2;
    }
    .CodeMirror.cm-s-default{
        padding: 0;
        background-color: white;
    }
    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like{
        padding-left: 10px;
    }
    &:focus-within, &.ct-focused{
        > div{
            @apply text-sky-700;
            @apply bg-opacity-100;
        }
    }
    > div{
        &:first-of-type{
            @apply border-b;
        }
        @apply bg-[#f1f5f8] bg-opacity-30;
        @apply px-3 py-2;
        @apply text-greyish;
        @apply font-medium;
        @apply text-left;
    }
    > textarea{
        width: calc(100% - 8px);
        @apply caret-primary;

        @apply rounded-sm;
        @apply rounded-t-none;

        @apply flex-1;
        @apply px-2 pt-1 pb-4 m-1 -mb-1;

        @apply bg-transparent;
        @apply outline-none;
        @apply overflow-auto;

        @apply placeholder-opacity-20 placeholder-gray-600;
        @apply focus:placeholder-opacity-0;

        @apply min-h-[50px];
    }

}

.tests-textarea{
    @apply w-full;
    @apply px-3 py-2;
    @apply border border-blueGray-400 rounded-sm;
    @apply bg-transparent outline-none focus:bg-white;
    @apply text-blueGray-900 font-normal;
    @apply ring-0 ring-offset-1 focus:ring-1 ring-secondary;
}

.answer-info-box{
    @apply w-5;
    @apply h-5;
    @apply min-h-[20px];
    @apply min-w-[20px];
    @apply rounded;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply border border-white;
}
.student-footer{
    .answer-info-box{
        > * {
            @apply mt-px;
        }
    }
}

#helpModal{
    h4 {
        @apply font-semibold mb-3 text-lg;
    }
    h5 {
        @apply font-semibold my-2;
    }
    h1, h2, h3, h4, h5{
        + p, + ol, + ul {
            @apply mb-2;
            letter-spacing: 0.5px;
        }
    }
}

.exercise-row{
    pre{
        white-space: normal;
        h1{
            @apply font-semibold mb-3 text-lg;
        }
        p{
            @apply mb-3;
            // margin-bottom: 8px !important;
        }
        code{
            @apply bg-secondary bg-opacity-10 block;
            @apply my-3;
        }
    }
}

.cke_source.cke_reset.cke_enable_context_menu.cke_editable_themed.cke_contents_ltr.cke_editable{
    @apply px-3 py-2;
}

.exerciseTitle{
    @apply text-lg font-normal;
    @apply mb-3 mt-2;
    @apply text-blueGray-800;
    @apply px-3 py-3 bg-white rounded border border-blueGray-400 border-opacity-70;
    @apply hover:border-secondary hover:border-opacity-70;
    @apply truncate;
}

.bg-cristal{
    @apply bg-[#ffffff8c] backdrop-filter backdrop-blur-lg hover:bg-white transition-colors;
}

.loading-overlay{
    @apply fixed w-screen h-screen;
    @apply top-0 left-0;
    @apply flex items-center justify-center;
    @apply z-[9999];
    
    @apply backdrop-filter backdrop-blur-lg bg-[#06a1e62b];
    > span{
        @apply text-5xl text-secondary font-bold tracking-widest underline select-none;
        text-decoration-color: indigo;
    }
    &.appearing{
        animation: appear 0.5s forwards;
    }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ex-statement{
    p{
        margin-bottom: 16px !important;
    }
    h1, h2, h3, h4 {
        @apply font-semibold mb-3 text-lg;
    }
    h5 {
        @apply font-semibold my-2;
    }
    h1, h2, h3, h4, h5{
        + p, + ol, + ul {
            @apply mb-2;
            letter-spacing: 0.5px;
        }
    }
    code{
        @apply bg-secondary bg-opacity-10 block;
        @apply my-3;
    }
}
