{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle('import-authorkit.exercises.management'|trans, true, false) }}
{% endblock %}
{% block content %}
    <div class="ak-exercises-list">
        <div class="authorkit__exercises-title">
            <div class="d-flex align-center">
                <span class="h4">
                    {%trans%}ak-exercises-list.title{%endtrans%}
                </span>
                <div class="ml-auto">
                    <a href="ak-projects-list.php" style="text-decoration: underline;">
                        {%trans%}ak-exercises-list.home{%endtrans%}
                    </a>
                </div>
            </div>
            <span>
                {{ project.name }}
            </span>
        </div>
        <div class="exercises-list">
            {% for exercise in exercises %}
                <a href="javascript:false;" data-exercise-id="{{exercise.id}}">
                    {% include 'components/exercise-item.php.twig' %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
