{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle("Exercises list", true, false) }}
{% endblock %}
{% block content %}
<div>
    <div class="lead">
        List of exercises for students, drag an drop them to change the order
    </div>
    <section id="theExercises">
        <ul id="listaPrueba" class="list-group border-t border-gray-400">
            {% for exercise in exercises %}
                {{ include('exercise/instructorExercise.php.twig') }}
            {% endfor %}
        </ul>
        {{ include('exercise/deleteModal.php.twig') }}
        </div>
    </section>
</div>
{% endblock %}
