{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle('pages-title.export-context'|trans, true, false) }}
{% endblock %}
{% block content %}
    <div class="export-context-page">
        <div>
            Export context
        </div>
        <div>
            <div>
                Datos a exportar:
            </div>
            <div>
                -
            </div>
        </div>
    </div>
{% endblock %}
