{% set exercise = newExercise %}
<!--    <div id="newExerciseNumber">{{ newExerciseNumber }}.</div>-->
<div class="flx-grow-all exercise-text">
    <form id="exerciseTextForm-1" action="actions/AddExercise.php" method="post">
        <label for="exerciseTitleText" class="labelForm" >{%trans%}new-exercise-form.exercisetitle{%endtrans%}</label>
        <textarea class="form-control ckeditor" id="exerciseTitleText" name="exercise[title]" rows="2" required></textarea>
        <label for="exerciseKeywords" class="labelForm" >{%trans%}new-exercise-form.keywordsseparatedlines{%endtrans%}</label>
        <textarea class="form-control" name="exercise[keywords]" id="exerciseKeywords" rows="3" placeholder="keyword1&#10;keyword2"></textarea>

        {# The tilde characther '~' is used to concatenate strings, turns operands in strings and then concatenates #}
        {{ include (CFG.CT_Types.formsPath ~ main.getProperty('instructorForm')) }}
        
        <label for="exerciseMust-1" class="labelForm">{%trans%}new-exercise-form.mustcontainseparatedlines{%endtrans%}</label>
        <textarea class="form-control" id="exerciseMust-1" name="exercise[exercise_must]" rows="2"></textarea>
        <label for="exerciseMusnt-1" class="labelForm">{%trans%}new-exercise-form.shouldntcontain{%endtrans%}</label>
        <textarea class="form-control lastElementForm" id="exerciseMusnt-1" name="exercise[exercise_musnt]" rows="2"></textarea>
    </form>
</div>

